* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(#25364f, #4d71a5, #9bc4ff);
}