.text__container {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.442);

    animation: anyName 10s linear infinite alternate;
}

@keyframes anyName {
    0% {  }
    25% {  }
    50% {  }
    75% {  }
    100% { transform: translateX(101%); }
}

/* array */

.array__container {
    background-color: rgba(0, 0, 0, 0.466);
}