@keyframes slowspin {
  to {
      transform: rotate(360deg);
  }
}
.animate-slowspin {
  animation: slowspin 10s linear infinite;
}

.reveal__component {
  position: absolute;
  height: 100%;
  width: 100%;
  animation-name: notes;
  animation-duration: 0.25s;
  animation-timing-function: ease-in;
  padding: env(safe-area-inset-bottom, 50px);
  background-color: #94a3b8;
  z-index: 10;
  overflow: hidden;
}

@keyframes notes {
  0% {
    height: 0;
    background-color: #f1f5f9;
  }
  100% {
    height: 100%;
    padding: env(safe-area-inset-bottom, 50px);
  }
}

.reveal__cookie__policy {
  animation-name: cookies;
  animation-duration: 1.25s;
  animation-timing-function: ease-in;
  height: min-content;
}

@keyframes cookies {
  0% {
    height: 0px;
  }
  100% {
    height: auto;
  }
}

.animation__scaling:active {
  animation-name: scaling;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes scaling {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.5;
  }
}

.animation__wiggle:hover {
  animation: 2s linear ease wiggle;
}

@keyframes wiggle {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
    scale: 1.1;
  }
  100% {
    transform: rotate(-20deg);
  }
}
