<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='x-ua-compatible' content='ie=edge' />
    <title>{{title}}</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
    </style>
  </head>
  <body style='
      height: 100vh; 
      background-color: white;
      height: 100vh;
      text-align: center;
      font-family: 'Poppins', sans-serif;'>
    <div>
      <p>Dear <span style="font-style: italic;">{{firstName}},</span></p>

      <h1>Thank you for signing up with webdesignsbytom!</h1>
      <p>Please verify your email address to complete the signup process and login into your account.</p>
      <p>This link<b>expires in 6 hours</b>.</p>

      <p>
        Press
        <a href={{confirmationUrl}}>here</a>
        to proceed.
      </p>

      <p>Or copy and paste this URL into your browser.</p>
      <h3>{{confirmationUrl}}</h3>
    </div>

    <footer>
      <h2>www.webdesignsbytom.com</h2>
      <p>Copyright &copy; <span id="copyright"></span></p>
    </footer>
  </body>
  <script>
      let copy = document.getElementById('copyright')
      const today = new Date();
      copy.innerText = today.getFullYear()
  </script>
</html>