<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="webdesignsbytom"
      content="Home of Tom Brockingtons full-stack web development. Freelance or available for full-time positions."
    />
    <title>webdesignsbytom || Server</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
      h1,
      h2 {
        color: white;
      }
    </style>
  </head>
  <body
    style="
      display: grid;
      place-content: center;
      background-color: black;
      height: 100vh;
      text-align: center;
      font-family: 'Poppins', sans-serif;
    "
  >
    <main>
      <h1>webdesignsbytom</h1>
      <h2>Server Interface</h2>
    </main>
  </body>
</html>
