@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');

.tennisBall__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ball {
  position: absolute;
  z-index: 2;
  width: 150px;
  height: 150px;
  background-color: #c9f364;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  animation: animate 1.5s linear infinite;
}

.ball::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid white;
  box-sizing: border-box;
  background: transparent;
  left: -65%;
  filter: blur(1px);
}

.ball::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid white;
  box-sizing: border-box;
  background: transparent;
  right: -65%;
  filter: blur(1px);
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) translateY(-200px) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%) translateY(0px) rotate(180deg);
  }
  100% {
    transform: translate(-50%, -50%) translateY(-200px) rotate(360deg);
  }
}

.shadow {
  position: absolute;
  width: 150px;
  height: 50px;
  background: rgba(0, 0, 0, 0.2);
  transform: translate(-50%, 100%);
  border-radius: 50%;
  filter: blur(6px);
  animation: shadow 1.5s linear infinite;
}

@keyframes shadow {
  0% {
    transform: translate(-50%, 100%) scale(1);
  }
  50% {
    transform: translate(-50%, 100%) scale(0.5);
  }
  100% {
    transform: translate(-50%, 100%) scale(1);
  }
}

/* text animation */

.text__animation1 {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
}

.title {
  font-size: 6rem;
  font-weight: 900;
  -webkit-text-stroke: 2px white;
  color: transparent;
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -670px 0;
  animation: backcolor 4s linear infinite alternate;
}

@keyframes backcolor {
  100% {
    background-position: 0 0;
    -webkit-text-stroke: 2px black;
  }
}

/* GLOWING FONTS */
.glowingtext__container {
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
  grid-auto-flow: column;
  background-color: #000;
}

.glowingtext__container span {
  font-size: 6rem;
  font-family: 'Balsamiq Sans', cursive;

  animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
    0%, 100% {
        color: white;
        text-shadow: 0 0 12px lime, 0 0 50px lime, 0 0 100px lime;
    }
    10%, 90% {
        color: #111;
        text-shadow: none;
    }
}

.glowingtext__container > span:nth-child(2) {
    animation-delay: 0.25s;
}
.glowingtext__container > span:nth-child(3) {
    animation-delay: 0.5s;
}
.glowingtext__container > span:nth-child(4) {
    animation-delay: 0.75s;
}
.glowingtext__container > span:nth-child(5) {
    animation-delay: 1s;
}
.glowingtext__container > span:nth-child(6) {
    animation-delay: 1.25s;
}
.glowingtext__container > span:nth-child(7) {
    animation-delay: 1.5s;
}

/* LIGHTSPEED */

.scene__container  {
    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow: hidden;
}

.scene {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    perspective: 10vmin;
}

.scene div {
    width: 1.5vmin;
    height: 1.5vmin;
    transform: translate(-100vmin) rotateY(90deg) rotateX(var(--rx)) translateZ(var(--x)) scale(1); 
    position: absolute;
    top: 0%;
    left: 0%;
    animation: animate 1.5s infinite ease-in;
    background-color: white;
    box-shadow: 0 0 20px rgb(10, 239, 255);
}

@keyframes animate {
    0%, 90% {
        opacity: 1;
    }
    100% {
        
    }
}