.container {
  height: 100vh;
  display: grid;
  background-color: azure;
  place-content: center;
}

.monitor__container {
  display: grid;
  grid-template-rows: auto auto;
}

.screen__container {
  background-color: white;
  width: 400px;
  height: 290px;
  border: 2px solid black;
  display: grid;
  padding: .4rem;
  border-radius: 8px;
  grid-template-rows: 1fr auto;
  gap: 0.3rem;
}

.screen {
  display: grid;
  border-radius: 4px;
  border: 2px solid black;
}

.buttons__row {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: .5rem;
  padding-right: 1rem;
}

.buttonX {
  border: 2px solid black;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}