.container {
  height: 100vh;
  display: grid;
  background-color: azure;
  place-content: center;
}

.monitor__container {
  display: grid;
  grid-template-rows: auto auto;
}

.screen__container {
  background-color: yellow;
  width: 400px;
  height: 290px;
  border: 2px solid black;
  padding: 0.4rem;
  grid-template-rows: 1fr
}

.screen {
  border: 2px solid black;
  display: grid;
  
}
