@media screen and (max-width: 600px) {
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
      transform: translate(-50%, -50%) translateY(-200px)rotate(0deg);
  }
  50% {
      transform: translate(-50%, -50%) translateY(0px)rotate(180deg);
  }
  100% {
      transform: translate(-50%, -50%) translateY(-200px)rotate(360deg);
  }
}
